* {
    border: 0;
    margin: 0;
    padding: 0;
}

div {
    display: block;
    width: 250px;
    margin: 20px;
    padding: 20px;
    border: 1px black solid;
}

label {
    display: inline-flex;
}

input, select {
    display: inline-flex;
    line-break: normal;
}
